.categories {

  padding: 70px 60px;
  background: #f8f5f0;

}


.categories h2 {

  text-align: center;
  font-size: 38px;
  color: #0f766e;
  margin-bottom: 40px;

}


.category-container {

  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

}


.category-card {

  width: 170px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: white;
  border-radius: 15px;

  font-size: 20px;
  font-weight: 600;

  color: #222;

  box-shadow: 0 5px 15px rgba(0,0,0,0.08);

  transition: 0.3s;

}


.category-card:hover {

  background: #0f766e;
  color: white;
  transform: translateY(-8px);

}