.hero {

  min-height: 80vh;
  display: flex;
  align-items: center;
  padding: 60px;

  background: linear-gradient(
    135deg,
    #f8f5f0,
    #e6fffb
  );

}


.hero-content {

  max-width: 650px;

}


.hero h1 {

  font-size: 60px;
  line-height: 1.1;
  color: #0f766e;
  margin-bottom: 20px;

}


.hero p {

  font-size: 20px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 35px;

}


.hero-buttons {

  display: flex;
  gap: 20px;

}


.hero-buttons button {

  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  background: #0f766e;
  color: white;
  font-size: 16px;

}


.hero-buttons button:last-child {

  background: #222;

}
@media (max-width:768px){

    .hero{

        flex-direction:column;

        text-align:center;

        padding:50px 20px;

    }


    .hero-content{

        width:100%;

    }


    .hero-content h1{

        font-size:34px;

        line-height:1.3;

    }


    .hero-content p{

        font-size:16px;

    }


    .hero-buttons{

        justify-content:center;

        flex-direction:column;

        gap:15px;

    }


    .hero-buttons button{

        width:100%;

    }


    .hero-image{

        width:100%;

        margin-top:30px;

    }


    .hero-image img{

        width:90%;

    }

}