.profile-page {

  min-height: 80vh;

  display: flex;

  justify-content: center;

  padding: 60px;

  background: #f8f5f0;

}


.profile-card {

  width: 700px;

  background: white;

  padding: 45px;

  border-radius: 25px;

  text-align: center;

  box-shadow: 0 10px 30px rgba(0,0,0,0.1);

}


.profile-avatar {

  width: 100px;

  height: 100px;

  margin: auto;

  display: flex;

  align-items: center;

  justify-content: center;

  background: #0f766e;

  color: white;

  border-radius: 50%;

  font-size: 45px;

  margin-bottom: 20px;

}


.profile-card h1 {

  color: #0f766e;

  margin-bottom: 15px;

}


.profile-card p {

  color: #666;

  font-size: 18px;

  margin-bottom: 25px;

}


.profile-card button {

  padding: 12px 30px;

  border: none;

  border-radius: 25px;

  background: #0f766e;

  color: white;

  margin-bottom: 35px;

}


.profile-books {

  display: flex;

  justify-content: center;

  gap: 20px;

  flex-wrap: wrap;

}


.profile-books p {

  background: #f8f5f0;

  padding: 20px;

  border-radius: 15px;

  color: #222;

}